html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
}

#weatherInfo {
    color: rgb(50, 64, 49);
}

h2 {
    margin: 1em;
    min-width: 300px
}

h3, h4 {
    margin: 0;
}
.day {
    margin: 0.25em 0.75em 0 0;
    height: 80px;
    display: flex;
    flex-flow: column wrap;
}

.day img {
    height: 100%;
    /* width: auto; */
    object-fit: contain;
    margin-right: 0.75em;
}

.day p {
    margin: 0;
    text-transform: capitalize;
}

.gm-style-iw,
.gm-style-iw div {
    overflow: visible !important;
}

@media all and (max-width:400px) {
    h2 {
    margin: unset;
    min-width: unset;
    max-width: 200px;
    margin-bottom: 0.5em;
    }
};