@import url('https://fonts.googleapis.com/css?family=Exo:300,500,700,900');
/***************************************************************************
*
*------------------TABLE OF CONTENTS----------------------------------------

1) GENERAL STYLES
2) HEADINGS & LABELS
3) MEDIA QUERY

***************************************************************************/

/* 1) GENERAL STYLES */
html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font-family: "Exo", "helvetica", Arial, sans-serif;
	background-color: rgb(50,64,49);
	color: rgb(209,200,169);
}

#map {
	height: 30em;
}
main {
	text-align: center;
}

header img {
	max-height: 11em;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.parkList {
	margin-top: 0.5em;
	height: 2.25em;
	padding-left: 0.5em;
	font-size: 0.85em;
	width: 100%;
	border-radius: 0.25em;
	box-shadow: 0 0 0.75em 0.02em rgb(50, 64, 49) inset;
	border: thin solid rgb(191, 157, 121);
}

.markerPin {
	width: 0.75em;
	height: auto;	
}
/* 2) HEADINGS & LABELS */
#parks label {
	font-size: 1.5em;
}

/* 3) MEDIA QUERY */

@media all and (max-width:860px) {
	footer {
		text-align: center;
	}
}
@media all and (max-width: 576px) {
	#parkForm label,
	main h2:not(#parkName) {
		position: absolute;
		left: -10000px;
	}
}