@import url('https://fonts.googleapis.com/css?family=Exo:500,700,900');
/***************************************************************************
*
*------------------TABLE OF CONTENTS----------------------------------------

1) GENERAL STYLES
2) HEADINGS & LABELS


***************************************************************************/

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font-family: "Exo", "helvetica", Arial, sans-serif;
	background-color: rgb(50,64,49);
	color: rgb(191,157,121);
}

#map {
	height: 500px;
	width: calc(60% - 20px);
	vertical-align: middle;
	display: inline-block;
}

footer {
	padding: 2em;
}

main > .container {
	width: calc(33% - 20px);
	display: inline-block;
	vertical-align: middle;
}


.container {
	margin: 2em;
	display: flex;
	flex-flow: column nowrap;
}

#parks label {
	font-size: 1.5em;
}


@media all and (max-width:860px) {
	#instructions p, #parks h2 {
		position: absolute;
		left: -10000px;
	}
	main>.container {
		width: 100%;
		display: block;
		vertical-align: unset;
		margin: 0;
	}
	#map {
		width: 100%;
		vertical-align: unset;
		display: block;
	}
	form .container {
		margin-left: 0;
	}
	form {
		margin: 0 auto;
	}

	footer {
		margin: 0 auto;
	}
};